<div class="container" ng-controller="Page2Ctrl as page2Ctrl" data-ng-init="page2Ctrl.loadCon()">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 40%">First name</th>
            <th style="width: 40%">Last name</th>
            <th style="width: 20%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in page2Ctrl.users">
            <td>{{ x.firstName }}</td>
            <td>{{ x.lastName }}</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm" ng-click="page2Ctrl.delUser(x.firstName)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>