<div class="container" ng-controller="Page1Ctrl as page1Ctrl">
    <div class="row">
        <div class="col">
            <form ng-submit="page1Ctrl.newUser()">
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" required>
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" required>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Create">
                </div>
            </form>
            <br>
            <div class="form-group">
                <p id="alert"></p>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 45%">First name</th>
                        <th style="width: 45%">Last name</th>
                        <th style="width: 10%">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in page1Ctrl.users">
                        <td>{{ x.firstName }}</td>
                        <td>{{ x.lastName }}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm"
                                    ng-click="page1Ctrl.delUser(x.firstName)">Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>